
.panel-selector {
    grid-column: 2;
    height: 1.25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #444444;
    /* flex: 1 1 0; */
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    column-gap: 8px;
}

.panel-selector .button {
    flex: 1;
    background-color: lightgray;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    border-width: 1px;
    border-color: black;

    font-family: Helvetica;
    font-size: smaller;
    /* font-weight: bold; */
}

.panel-selector .selected {
    background-color: orange;
}
